.Rproj.user
.Rhistory
.RData
.Ruserdata
"G:\.shortcut-targets-by-id\1R_jaR_bY959F-kVkmoRlCS4npFhRrr4k\2025-msc-thesis-teufeng\analysis\HC_supply_dashboard.html"
*.gsheet
*.gslides
*.gdoc
*.lnk
*.mp4*.mp4
